#container {
    display: flex;
    justify-content: center; 
}

.col1 {
    width: 300px;
    height: 500px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#ballcolumn {
    width: 75px;
    height: 340px;
    border: 1px solid black;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: white;
}

body {
    background-color: beige;
}

h1, h2 {
    text-align: center;
}

h1 {
    color: brown;
}

h2 {
    color: olivedrab;
}
a {
    text-align: center;
}

ul {
    text-align: center;
    padding-right: 30px;
    text-decoration: none;
}

#container {
    display: flex;
}

.col2 {
    width: 300px;
    border: 2px solid black;
    height: 1100px;

}

.col1 h3, .col2 h3 {
    text-align: center;
    color: brown;
}

.col1 li {
    color: brown;
    text-align: center;
    list-style-type: none;
}

.col1 input {
    width: 225px;
    display: block;
    margin: 0 auto;
}

.col1 img, .col2 img {
    display: block;
    margin: auto;
}

#ballcolumn {
    width: 75px;
    height: 340px;
    border: 1px solid black;
}

#ball {
    --ball-top: 0;
    margin-top: var(--ball-top);
}

.col2 li {
    list-style-type: none;
    text-decoration: none;

}

.col2 ul {
    float: left;
}

.description {
    float: right;
}



