/* Structure */
h1 , h2 {
    text-align: center;

}

body {
    background-color: #ffebcd; /* Blanched Almond */
    font-family: 'Arial', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* Typography */
h3 , a , p {
    color: black;
}
/* Flexbox */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flex-container h3 {
    text-align: center;
}

.flex-container img , .png {
    width: 100%;
    justify-content: center;
    align-items: center;
    
    text-decoration: none;
}

.flex-container a , p {
    text-decoration: none;
    text-align: center;

}

.box {
    width: 350px;
    height: 350px;
    padding: 25px;
    background-color: skyblue;
    margin: 10px;
}



